<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FLASK - URL Shortener</title>
</head>
<body style="background-color: darkkhaki">
<h1 style="text-align: center">FLASK - URL Shortener.</h1>
<div>
    {% for message in get_flashed_messages() %}
        <h2>{{ message }}</h2>
    {% endfor %}
    <form action="/your-url" style="text-align: center;" method="POST">
        <label for="url">Web Site Url : </label>
        <input type="url" name="url" value="" required>
        <br>
        <br>
        <label for="code">Short Name :  </label>
        <input type="text" name="code" value="" required>
        <br>
        <br>
        <input type="submit" value="Shorten">
    </form>
</div>
<div>
    <form action="/your-url" style="text-align: center;" method="POST", enctype="multipart/form-data">
        <label for="file"> File : </label>
        <input type="file" name="file" value="" required>
        <br>
        <br>
        <label for="code">Short Name :  </label>
        <input type="text" name="code" value="" required>
        <br>
        <br>
        <input type="submit" value="Shorten">
    </form>
</div>
</body>
</html>